
.pedidos__main__container{

    margin: 1rem auto;
    width: 95vw;
    display: grid;
    gap: 1rem;
}
.pedidos__header{
    padding: .5em;
    background-color: aliceblue;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-cargar-cambios{
    border: none;
    background-color: rgb(214, 214, 214);
    padding: 6px;
    border-radius: 1rem;    
    font-size: 1.1rem;
    border: 1px black solid;
}

.pedidos__container{
    padding: .8em;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background: #959595;
}
.pedido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    flex: 1;
    font-size: 1.3rem;
    padding: .5em;
    gap: .3rem;
    position: relative;
    background-color: rgb(83, 70, 202);
    color: whitesmoke;
    outline: 1px solid black;
}
.pedido div{
    text-overflow: ellipsis;
    overflow: hidden;
}
.pedido a{
    display: inline-block;
    min-width: 8rem;
    text-decoration: none;
    color: greenyellow;
}
.pedido .cte__nombre{
    max-width: 80%;
}
.pedido .zona{
    position: absolute;
    right: .5em;
    top: .5em;    
    background-color: white;
    border-radius: 6px;
    padding: 2px;
}

.pedido__ghost{
    opacity: 0.5 ;
    margin: 0;
    padding: 0;
    position: absolute;
}

.pedidos__activos__main{
    border: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
}

.pedidos__pendientes{
    border: 1px solid black;
    border-radius: 1rem;
    min-height: 10rem;
}

