body{
background-color: #505050;
}

.main__container {
    padding: .3rem;
    width: 90%;
    max-width: 800px;
    border: 1px solid black;
    margin: .5rem auto;
    background: #c0bcbc;
    border-radius: .3rem;
}

.title__container{
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.slide__container {
    padding: .5rem 1rem;
    margin-bottom: 2rem;
    margin-inline: 1rem;
}



.pedido__slide {
    display: inline-flex;
    flex-direction: column;
    gap: .4rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    transform: translateX(0);
    /* width: 380px; */
    /* width: 500px; */
    width: 100%;
    /* margin: auto 1rem; */
}


.pedido__title {
    display: flex;
}

.pedido__title:nth-child(2) {
    border-bottom: 1px solid black;
}

.pedido__title span {
    flex: 1;
    font-size: 1.4rem;
    text-align: center;
}

.pedido__title .CTE {
    color: #088db9;
}

.pedido__title .sabana {
    color: rgb(11, 157, 11);
}

.pedido_detail {
    font-size: 1.2rem;
}

.pedido_detail.que_necesita {
    background: #babae3;
    border-radius: 0.3rem;
    padding-left: 5px;
}

.phone{
    text-decoration: none;
}





.button__CRM {
    min-width: 100%;
    color: white;
    background-color: rgb(60 ,141, 60);
    border-radius: .5rem;
    text-align: center;
    padding: 6px 12px;
    box-shadow: 1px 1px 2px  rgb(140, 140, 140);
}





.container--btn {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: .5rem;
}

.container--btn .btn {
    flex: 1;
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
}






/* FORMULARIOS */




.btn__vendi {
    background-color: rgb(60 141 60);
    color: white;
}

.btn__reprogramar {
    background-color: rgb(241 172 44);
    color: white;
}

.btn__cancelar {
    background-color: rgb(242 99 99);
    color: white;
}

.btn__reasignar {
    background-color: #2396fb;
    color: white;
}



@media screen and (max-width:800px) {
    /* .main__container{
        max-width: 95%;
    } */
}