
.main__container{
    padding: .3rem;
}

.main__container__title{
    font-size: 1.5rem;
}


.slide__container {
    overflow-x: auto;
    position: relative;
    padding: 1rem;
}



.pedido__slide{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    max-width: 380px;
}
.pedido__title{
    display: flex;
    justify-content: space-between;
}
.pedido__title span{
    flex: 1;
    font-size: 1.4rem;
    border:1px solidk black;
}
.pedido__detail{
    text-align: center;
    white-space: nowrap;
}



.slide__buttons_container{
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
}
.slide__buttons_container *{
    flex:1;
}





.btn__container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: .3rem;
}
.btn__container .btn{
    flex: 1;
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
}






/* FORMULARIOS */
.unshow{
    top: -100vh;
}
.bg__black{
    position: absolute;
    inset: 0;
    z-index: 100000;
    background-color: rgba(0,0,0,.5);
}


