<div class="btn-container">

    <input type="button" class="btn btn-evaluar btn-text" value="Evaluar"></input>
    <input type="button" class="btn btn-ventas btn-text" style="display: none;" value="Cargar venta"></input>
    <input type="button" class="btn btn-mercaderia btn-text" value="Entrega/Retiro"></input>

</div>