<h3 class="blue-title">
    Cliente
</h3>

<table class="tabla-datos tabla-clientes">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Zona</th>
            <th>Nombre</th>
            <th>Calle</th>
            <th>Cruces</th>
            <th>Cruces 2</th>
            <th>Whatsapp</th>
            <th>DNI</th>
            <th>Master</th>
            <th>Obs</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8108</td>
            <td class="zona">LT</td>
            <td>Lumbert sandra</td>
            <td>Vta. florida 290</td>
            <td>A. bendita</td>
            <td>Refassi</td>
            <td>1124659963</td>
            <td>447246237</td>
            <td>CLAVAZO</td>
            <td>OBS</td>
        </tr>
    </tbody>
</table>