<div class="table-domicilio-container">
    <div class="table-domicilio-head">
        <h3 class="blue-title title-domicilio">
            Domicilio:
        </h3>
    </div>
    <div class="table-domicilio-body">
        <table class="tabla-datos tabla-domicilio">
            <thead>
                <tr>
                    <th>Calif</th>
                    <th>Nombre</th>
                    <th>CTE</th>
                    <th>Ficha</th>
                    <th>Atraso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>