
<%
let innerClassList = []

try {
  innerClassList = classList;
}catch (error) {
}
%>


<div class="detail <%= innerClassList.join(" ") %>">
  <span class="detail__title"><%= title %></span>
  <span class="detail__data"><%= data %></span>
</div>