
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco Gusmar | Cargas</title>
    <link rel="shortcut icon" href="/images/BGM.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/navigation/navigation-bar.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>
    <%- include("../partials/navigation/navigation-bar",{username : user.Usuario}) %>
    <div class="page-container">
            
        <div class="dashboard-container">
            <!-- <div class="dashboard-item"><a href="/">2023-03-05 Carga</a></div>
            <div class="dashboard-item"><a href="/">2023-03-06 Carga</a></div>
            <div class="dashboard-item"><a href="/">2023-03-06 Sobrecarga</a></div> -->
            <div class="dashboard-item"><a href="/mis_planillas/planilla_de_carga?FECHA=2023-03-08&VENDEDOR=Rosario">2023-03-07</a></div>
        </div>
        
    </div>


</body>
</html>