.btn {
    padding: 5px 15px;
    box-shadow: 2px 2px 5px #000;
    border-style: outset;
    border-color: buttonborder;
    display: inline-block;

}
.btn-flex{
    display: flex;
    align-items: center;
}
.btn-text{
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover {
    position: relative;
    left: 2px;
    top: 2px;
}

.btn-container {
    margin: 15px 10px 10px 0px;
    display: flex;
    gap: 1rem;
}

.btn-evaluar {
    border: 2.5px solid #b71c1c;
    background-color: #ef5350;
}

.btn-ventas {
    background-color: #E06000;
}
.btn-pedido{
    background-color: #82b96b;
}

.btn-mercaderia{
    background-color: #366092;
}
.btn-contacto{
    background: #8d1d8d;
}

.img-zoom{
    position: absolute;
    width: 40vw;
    border-radius: 1rem;
    max-height: calc( 100vh - 100px);
    object-fit: cover;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100000000000000;
}



.buscador-disponible-container {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 8px;
    top: 0;
    z-index: 100;

}


.disponible-container {
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33%);
    text-align: center;
}

.disponible-first-title {
    grid-column: 1/4;
}

.disponible-title {
    background-color: #366092;
    color: white;
    border-collapse: collapse;
}

.disponible-item {

    border: 1px solid black;
    padding: 5px;

}

.disponible-oferta {
    background-color: #F2F2F2;
}

.img-container{
    overflow: hidden;
    border: 2px solid black;
    border-radius: 1rem;
    width: 100px;
    background: whitesmoke;
    box-shadow: 3px 3px 3px black;
}
.img-cte{
    object-fit: cover;
    object-position: top;
    aspect-ratio: 1 / 1;
    width: 100px;
}


.busqueda-container * {
    border: 1px solid black;
}

.busqueda-container {
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    border-collapse: collapse;

}

.busqueda-first-title {
    grid-column: 1/3;
}

.custom-selectbox-select {

    width: 100%;
    text-align: center;
    font-size: 1.1em;
    background-color: #F2F2F2;
    outline: none;
}

.inputtext-busqueda {
    background-color: #F2F2F2;
    color: #000;
    outline: none;
    padding: 0 0 0 5px;

}

@media screen and (max-width:500px) {
    .busqueda-container, .disponible-container{
        width: 100%;
        /* flex: 0 0 1; */
    }
    .img-container{
        order: 30;
    }
    .buscador-disponible-container{
        justify-content: center;
    }
}