

.sidebar {
    right: 0;
    transition: translate .35s;
    position: fixed;
    height: 100%;
    width: 50vw;
    display: flex;
    z-index: 200;
}
.unshow{
    translate: calc(50vw - 20px);
}
@media (max-width:550px){
    .sidebar{
        width : 100vw;
    }
    .unshow{
        translate: calc(100vw - 20px);
    }
}



.sidebar-contenido {
    background-color: #366092;
    border-left: 1px solid wheat;
    height: 100%;
    right: 0;
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.sidebar-lengueta-container {
    background-color: transparent;
    height: 100%;
    width: 20px;
    padding: 30px 0;
    font-size: 1em;
}

.sidebar-lengueta {
    transform: rotate(90deg);
    cursor: pointer;
}
.sidebar-lengueta span{
    white-space: nowrap;
    background-color: wheat;
}



