

.sidebar {
    right: 0;
    transition: transform .35s;
    position: fixed;
    height: 100%;
    width: 50vw;
    display: flex;
    z-index: 200;
}
.unshow{
    transform: translate( calc(50vw - 20px) );
}



@media (max-width:550px){
    .sidebar{
        width : 100vw;
    }
    .unshow{
        transform: translate( calc(100vw - 20px) );
    }
}



.sidebar-contenido {
    background-color: #4c6f98;
    border-left: 1px solid wheat;
    padding: .2rem .3rem;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.sidebar-lengueta-container {
    background-color: transparent;
    height: 100%;
    width: 20px;
    padding: 30px 0;
    font-size: 1em;
}

.sidebar-lengueta {
    transform: rotate(90deg);
    cursor: pointer;
}
.sidebar-lengueta span{
    white-space: nowrap;
    background-color: wheat;
}



