body {
    background-color: #FFF;
}

main {
    padding-inline: 1rem;
    padding: .8em;
    display: flex;
    flex-direction: column  ;
    gap: .8em;
}
.container--title{
    align-items: center;
}
.container--buscador {
    border: 1px solid lightgray;
    margin-bottom: 0;
    border-radius: .5rem;
    position:sticky;
    top: calc(48px + .5rem);
    z-index: 40;
}

.container--informe{
    max-height: 80vh;
}
.container--informe__table td:nth-child(3),.container--informe__table th:nth-child(3){
    position: sticky;
    left: 0;
    max-width: 35vw;
    overflow-x: auto;
    z-index: 10;
    text-align: left;
}
.container--informe__table td{
    background-color: white;
}   

.container--informe__table thead{
    position: sticky;
    top: 0;
    z-index: 30;
}
.container--informe tr:hover > td{
    background: #f7f7f7;
}
.text--light-blue{
    color: var(--light-blue);
}
.container--informe .eliminar {
    color: #e74c3c;
}

.producto--invalido{
    display: none;
}
.mostrar--invalido{
    display: table-row;
}
.container--informe__table .td--description,.container--informe__table th:nth-child(2){
    text-align: left;
}
.flex-space_between{
    flex-wrap: wrap;
    gap: 8px;
}
