<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../partials/links/normalize-fa-nav.styles.ejs") %>
        <link rel="stylesheet" href="/css/CRM/tabla.clientes.css">
        <link rel="stylesheet" href="/css/CRM/General.css">
        <link rel="stylesheet" href="/css/mercaderia/control_de_camionetas.css">
</head>
<title>Blanco Gusmar | AB717</title>

<body>
    <%- include('../../partials/navigation/navigation-bar.ejs') %>

    <div class="details-container">
        <div class="unidad-details">
            Unidad : AB717
            Usuario : Diego
        </div>
    </div>

    <main class="table">
        <div class="table__header">
            <h3>Control de mercaderia</h3>
        </div>
        <div class="table__body" >
            <table class="tabla-datos tabla-carga">
                <thead>
                    <tr>
                        <th>Art</th>
                        <th>Estandar</th>
                        <th>Vigente</th>
                        <th>Modificacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" value="1"></td>
                        <td><input type="text" value="2"></td>
                        <td><input type="text" value="6"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


    <%- include("../../partials/links/nav.logic.ejs") %>
</body>

</html>