.buscador__container{
    background: white;
    padding: .2rem .2rem;
    gap: .4rem;
    margin-bottom: 1.1rem;
    display: flex;
    flex-wrap: wrap;
}

.buscador__container > div {
    display: flex;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid lightgray;
}
.buscador__container i::before{
    font-size: 1.3rem;
    margin-left: 5px;
}
.buscador__container > div input[type="text"]{
    flex:1;
    border-radius: .3rem;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: .8em 8px;
    /* display: inline-block; */
}