.container--buscador{
    background: white;
    padding: .2rem .2rem;
    gap: .4rem;
    margin-bottom: 1.1rem;
    display: flex;
    font-size: 1.3rem;
    /* flex-wrap: wrap; */
    flex: 1;
}


.container--buscador i{
    display: grid;
    place-items: center;
}
.container--buscador i::before{
    margin-left: 5px;
}

.container--buscador__input{
    flex:1;
    border-radius: .3rem;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: .8em 8px;
}