:root {
    --pink-credito: rgb(255, 247, 247);
}

:root {
    --light_white: #EBE3D8;
    --normal_white: #DDD1C2;
    --light_gray: #727272;
    --light_brown: #AA8A6D;
    --normal_brown: #886F63;
    --dark_gray: #313236;
}

html,
body {
    background-color: rgb(247, 247, 247);
}
.buscador__container{
    display: flex;
    flex-wrap: wrap;
}
.main__container {
    margin: auto;
    max-width: 620px;
    background-color: white;
}

.creditos__header {
    flex:1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fdfdfd;
    padding: 4px .8em;
    position: sticky;
    top: 3rem;
    z-index: 10;
}



.creditos__header .link-editar{
    text-shadow: 1px 1px 1px gray;
}
.creditos__header .link-editar:hover{
    color: green;
}

.creditos__header .CTE_CALLE {
    display: grid;
    font-size: 1.1rem;
    white-space: nowrap;

}
.header--credito__container--datos{
    display: flex;
    grid-column: span 2;
    flex-direction: row;
    flex-wrap: wrap;
}

.valor__servicio {
    color: rgb(108, 108, 255);
}

.CTE_NOMBRE {
    grid-column: span 2;
    text-align: center;
}


.credito {
    background-color: rgb(255, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 9px;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.prestamo {
    background-color: #f2feff;
}

.credito__header {
    background-color: transparent;
    font-size: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.credito__header .vencimiento_atrasado {
    color: lightcoral;
}

.credito__header .vencimiento_al-dia {
    color: rgb(89, 130, 27);
}
.visitas {
    background-color: lightgray;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}
.credito__header .visitas_normal{
    color: rgb(89, 130, 27);
}
.credito__header .visitas_intermedio{
    color: rgb(212, 189, 16);
}
.credito__header .visitas_grave{
    color: rgb(255,0,0);
}

.credito .details {
    background-color: rgb(252, 242, 242);
    display: flex;
    flex-direction: column;
    gap: .8em;
    background-color: transparent;
}

.details .detail {
    background-color: rgb(216, 213, 213);
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 4px;
    overflow: auto;
}
.detail.important{
    font-weight: 600;
    font-size: 1.05rem;
}
.detail.articulos{
    color:  rgb(10, 10, 130);
    font-weight: 800;
}
.detail.detail_group{
    display: flex;
    flex-direction: column;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.input__container {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - .7rem));
    gap: .7rem;
}

.input__container>* {
    outline: none;
    /* border: none; */
    font-size: 1.2rem;
    padding: 1px 9px;
    border: 1px solid var(--light_white);
    border-radius: .5rem;
    background: white;
    /* display: inline-flex; */
    flex-direction: row;
    justify-content: space-between;
}
.input__mp{
    display: flex;
}
.input__mp > input[name='MP_PORCENTAJE']{
    max-width: 70%;
}

.container--btn {
    display: grid;
    grid-auto-flow: row;
    gap: .5em;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}





.btn-detalles::before {
    color: rgb(172, 170, 170);

}

.btn-detalles:hover:before {
    color: rgb(200, 193, 193);
    cursor: pointer;
}

.btn {
    background-color: rgb(141, 249, 125);
    border-radius: .8rem;
    min-width: 40%;
    padding: 4px;
    font-size: 1.1rem;
    border: none;
    box-shadow: 1px 1px 1px gray;
}

.btn:hover {
    background-color: rgb(119, 249, 99);
}



.container--pagos {
    position: fixed;
    background-color: #fbfbfb;
    border: 1px solid var(--dark_gray);
    width: min(430px, 90%);
    max-height: 80vh;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 100%;
    top: 3.5rem;
    border-radius: .5rem;
    padding: 1rem;
    overflow-y: auto;
    margin: auto;
    gap: .9em;
    white-space: nowrap;
    transition: top .3s;
    z-index: 20;
}

.container--pagos__header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    font-size: 1.5rem;
    top: 0;
    left: 0;
}

.container--pagos__header i {
    font-size: .8em;
    color: var(--normal_brown);
}

.container--pagos__header i:hover {
    color: var(--dark_gray);
    cursor: pointer;
}
.unshow{
    top: -100vh;
}
table,
td,
thead,
tr,
th {
    padding: 8px;
    overflow: hidden;

}

.table {
    overflow-x: auto;
    text-align: center;
    display: grid;
    align-items: center;
}

.diferencia_positiva{
    color: green;
    font-weight: 800;
}

@media screen and (max-width:420px) {
    .input__container {
        grid-template-columns: 1fr;
    }
}