.main__container{
    /* display: grid; */
    align-items: center;
}
.main__container > *{
    font-size: 1.2rem;
}


.btn__container{
    display: grid;
    gap: .5rem;
}
.btn__container input[type="number"]{
    font-size: 1.3rem;
    padding: 5px;
}

