.back-arrow-container a{
    font-size: 2rem;
    padding: .5rem;
    text-decoration: none;
    color: white;
}
.back-arrow-container a span{
    font-family: sans-serif;
    margin-left: .3rem;
}
.back-arrow-container a:hover{
    color: #bf2a2a;
}

.img-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}
.img-container{
    display: inline-block;
    text-align: center;
    padding: .5rem;
    width: 15rem;
    background-color: hsl(216, 39%, 19%);
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-sizing: 3px 3px 7px rgb(44, 44, 44);
}
.img-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.img-container .imagen {
    width: calc( 100% - 2rem);
    border-radius: 1rem;
}










