.top-container{
    font-size: 2rem;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}
.top-container span{
    display: grid;
    align-items: center;
}

.back-arrow-container a{
    text-decoration: none;
    color: white;
}
.back-arrow-container a span{
    font-family: sans-serif;
    margin-left: .3rem;
    display: inline;
}
.back-arrow-container a:hover{
    color: #bf2a2a;
}

.img-main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    width: 15rem;
    background-color: hsl(216, 39%, 19%);
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 7px rgb(44, 44, 44);
}
.img-title{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.img-container .imagen {
    width: calc( 100% - 2rem);
    border-radius: 1rem;
}
.img-container input[type="file"]{
    width: calc( 100% - 2rem);
    margin: .6rem;    
}
.img-container .btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-container .btn-cargarimagen{
    font-size: 1.3rem;
    position: relative;
    padding: 3px;
    background-color: #6998d1;
    margin: .6rem;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 9px;
}
.btn-cargarimagen:hover{
    left: 2px;
    top: 2px;
}











