
.page-container{
    display: flex;
    flex-direction: column;
    height: calc(100% - 36px);
    justify-content: flex-start;
    border: 1px solid red;
}

.menu{
    padding: 8px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.busqueda-container{
    width: 285px;
}
.busqueda-container * {
    font-weight: 400;
}

.title {
    font-family:  Verdana, sans-serif;
    padding: 4px 1px;
    color: black;
    background-color: skyblue;
}
iframe{
    border: none;
    height: 100%;
}










