td,
th {
    white-space: nowrap;
    text-align: right;
    padding-inline: 13px;
    padding-bottom: 8px ;
    padding-top: 8px ;

}
tr{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
table td{
    background-color: white;
}
table th{
    background-color: inherit;
}

table tr td:nth-child(-n+3) ,table tr th:nth-child(-n+3) {
    text-align: left;
}

table tr td:nth-child(3), table tr th:nth-child(3){
    position: sticky;
    left: 0;
    z-index: 20;
}




table tbody tr:hover > td {
    background-color: #DFFFF4;

}