<html>

<head>
    <title>BGM.CRM</title>
    <link rel="stylesheet" href="css/tabla.clientes.css">
    <link rel="stylesheet" href="css/tabla.fichas.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />


</head>

<body>
    <div class="container">
        <input type="text" class="inputtext-cte" value="8108"></input>
        <input type="button" class="btn-evaluar" value="Evaluar"></input>
        <h3 class="blue-title">
            Cliente
        </h3>

        <table id="tabla-clientes" class="tabla-datos">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Zona</th>
                    <th>Nombre</th>
                    <th>Calle</th>
                    <th>Cruces</th>
                    <th>Cruces 2</th>
                    <th>Whatsapp</th>
                    <th>DNI</th>
                    <th>Master</th>
                    <th>Obs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PONCE Rodrigo</td>
                    <td>21508</td>
                    <td class="zona">LT</td>
                    <td>Lamarca 962</td>
                    <td>pichincha</td>
                    <td>fleming</td>
                    <td>1124659963</td>
                    <td>447245623</td>
                    <td>2 Muy bien</td>
                    <td>Buen cliente</td>
                </tr>
            </tbody>
        </table>


        <h3 class="blue-title">
            Fichas 
        </h3>

        <table id="tabla-fichas" class="tabla-datos">
            <colgroup>
                <col span="3" class="bg-meses">
                <col span="1" class="bg-vta">
                <col span="1" class="bg-ant">
                <col span="7" class="bg-meses">
                <col span="1" class="bg-vta">
                <col span="1" class="bg-meses">
                <col span="1" class="bg-vta">
                <col span="1" class="bg-cuota">
                <col span="1" class="bg-meses">
                <col span="6" class="bg-adicional_datos">
            </colgroup>
            <thead>
                <tr>
                    <th>Fecha venta</th>
                    <th>Ficha</th>
                    <th>Zona</th>
                    <th>VTA</th>
                    <th>ANT</th>
                    <th>Mes 0</th>
                    <th>Mes 1</th>
                    <th>Mes 2</th>
                    <th>Mes 3</th>
                    <th>Mes 4</th>
                    <th>Mes 5</th>
                    <th>Mes 6</th>
                    <th>Sal Ant</th>
                    <th>Mes 7</th>
                    <th>Sal Act</th>
                    <th>Cuota</th>
                    <th class="bg-valor_unitario">V.U</th>
                    <th class="bg-adicional">Ven</th>
                    <th class="bg-adicional">VenCob</th>
                    <th class="bg-adicional">Vencidas</th>
                    <th class="bg-adicional">Pagas</th>
                    <th class="bg-adicional">Totales</th>
                    <th class="bg-adicional">Atrasos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>24/02/22</td>
                    <td>2130</td>
                    <td class="zona">D4</td>
                    <td>22200</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>3700</td>
                    <td>1,0</td>
                    <td>24/9/2022</td>
                    <td>6/12/2022</td>
                    <td>3,0</td>
                    <td>6,0</td>
                    <td>6,0</td>
                    <td>-30</td>
                </tr>
                <tr>
                    <td>24/02/22</td>
                    <td>2130</td>
                    <td class="zona">D4</td>
                    <td>22200</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>3700</td>
                    <td>1,0</td>
                    <td>24/9/2022</td>
                    <td>6/12/2022</td>
                    <td>3,0</td>
                    <td>6,0</td>
                    <td>6,0</td>
                    <td>-30</td>
                </tr>
            </tbody>
        </table>


    </div>


    <script src="js/CRM.js"></script>


</body>

</html>