<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blanco Gusmar | Panel</title>
    <%- include("./partials/links/normalize-fa-nav.styles.ejs") %>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <%- include("./partials/navigation/navigation-bar") %>
        <div class="page-container">

            <!------------------- REPENSAR -------------------->
            <div class="dashboard-container">
                <div class="dashboard-item"><a href="/CRM">CRM</a></div>
                <% if(user.RANGO == "ADMIN" || user.RANGO == "VENDEDOR" ) {%><div class="dashboard-item"><a href="/ventas_cargadas">Ventas del dia</a></div><%}%>
                <% if(user.RANGO == "ADMIN") {%><div class="dashboard-item"><a href="/ventas_cargadas_vendedores">Ventas vendedores</a></div><%}%>
                <% if(user.RANGO == "ADMIN" || user.RANGO == "VENDEDOR" ) {%><div class="dashboard-item"><a href="/mis_planillas">Planillas de carga</a></div><%}%>
                <% if(user.RANGO == "ADMIN") {%><div class="dashboard-item"><a href="/archivo_de_entrega">Archivo de entrega</a></div><%}%> 
                <% if(user.RANGO == "ADMIN" || user.RANGO == "VENDEDOR" ) {%><div class="dashboard-item"><a href="/cargas_camionetas">Carga de camionetas</a></div><%}%> 
                <% if(user.RANGO == "ADMIN") {%><div class="dashboard-item"><a href="/stock">Stock</a></div><%}%> 
                <% if(user.RANGO == "ADMIN" || user.Usuario == "Tiago" || user.Usuario == "Elsa") {%><div class="dashboard-item"><a href="/locales">Lista de locales</a></div><%}%> 
                <% if(user.RANGO == "ADMIN") {%><div class="dashboard-item"><a href="/dnis">Imagenes de DNI</a></div><%}%> 
                
                <% if(user.RANGO == "ADMIN" || user.RANGO == "VENDEDOR" ) {%><div class="dashboard-item"><a href="/pedidos/mis_pedidos">Mis pedidos</a></div><%}%> 
            
            </div>
        </div>

        <%- include("./partials/links/nav.logic.ejs")  %>
</body>

</html>