/*NORMALIZE INPIUT*/
input {
    border: none;
    background: transparent;
    outline: none;
}

table td,
table th {
    padding: 4px;
}

table {
    margin: auto;
}


html,
body {
    background-color: #fcfbfb;
}

.table {
    overflow: auto;
}

.main__container {
    padding: .5rem 1rem;
}

.header {
    font-size: 1.3rem;
    /* text-align:center; */
}

.cte_resumen{
    background-color: rgb(253, 244, 244);
    border: 1px solid rgb(251, 168, 168);
    border-radius: .5rem;
    padding: .4rem;
    text-align: center;
}

.btn-cargar_cobranza{
    background-color: #d6ddd6;
    border:none;
    border-radius: 5px;
    padding: .2em;
}


.credito {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    outline: 1px solid #524c4c;
    background: #eded90;
    padding: 1rem;
    max-width: min(90vw, 600px);
    margin: .7rem auto;
    gap: .4rem;
}

.credito .title {
    font-size: 1.3rem;
}

.credito .ficha {
    font-weight: 600;
}

.space {
    display: flex;
    justify-content: space-between;
}

.credito .pago_cuota {
    display: flex;
    justify-content: space-between;
}

.credito .pago_cuota input {
    font-size: 1rem;
    max-width: 40%;
    border-bottom: 1px solid gray;
    color: #266526;
    font-weight: 600;


}

.pago_total {
    font-size: 1.1rem;
}