<div class="container--buscador">
  <i class="fa fa-search"></i>
  <input type="text" class="container--buscador__input" name="buscador" placeholder="Buscar..." oninput=<%= inputFunction+"(this.value)" %>  />
</div>