<nav class="navigation-bar">
    <span class="user">
        Usuario : <%= user.Usuario %>
    </span>
    <ul class="show">
        <li><a href="/logout">Cerrar sesion</a></li>
        <li><a href="/">Panel</a></li>
    </ul>
    <span class="burguer">
        <i class="fa fa-bars fa-2x"></i>
    </span>
</nav>