/*GENERALES*/
.hidden{
    display: none;
}
/*BOTONES*/
.btn a{
    text-decoration: none;
}
.btn {
    position: relative;
    font-size: 1.2rem;
    padding: .5em 3em;
    box-shadow: 1px 1px 4px black;
    text-align: center;
    cursor: pointer;
}
.btn:hover{
    left: .1rem;
    top: .1rem;
}
.btn-radius{
    border-radius: 2rem;
}
.btn-green{
    background: #679567;
}


/*VARIABLES*/
:root{
    --vw : 82vw; 
}



/*NORMAL*/

body {
    display: flex;  
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}


.btn-container {
    margin-top: .5rem;
    width: var(--vw);
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
.btn-container *{
    flex: 1;
    display: grid;
    align-items: center;    
    color: #0c580c;
    background: #979797;
}
.btn:hover *,.btn:hover  {
    color: #74d574;
}    
.btn-confirmar{
    padding: .2em .8em;
    background-color: #a19c9c;
}
input,select{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    width: 100%;
}
select{
    width: auto;
}





.no-generado-container{
    width: var(--vw);
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.no-generado-container * {
    text-align: center;
    white-space: nowrap;
}




.table {
    width: 82vw;
    height: 60vh;
    max-height: 60vh;
    
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin-top: 1.5rem;
    overflow: hidden;
    background-color: rgb(211, 212, 212);
}

.table__header {
    width: 100%;
    padding: .8rem 1rem;
    background-color: #a5a5a5;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


.table__body {
    width: 95%;
    max-height: calc(50vh - 1.6rem);


    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

table {
    width: 100%;
}

thead {
    background-color: rgb(65, 97, 97);
    color: rgb(219, 216, 216);
}

table,
table th,
table td {
    padding: .8rem;
}
table th{
    padding-inline: 1.3rem;
}

table tbody tr:nth-child(even) {
    background-color: rgb(226, 229, 230);
}

table tbody tr:nth-child(odd) {
    background-color: rgb(249, 251, 252);
}






