.hidden{
    display: none;
}
a{
    text-decoration: none;
}


.page-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    padding: 4px 0 0 0;
}


.btn-container{
    margin: 0;
    width: 100%;
    max-width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: .4em;
}

.btn{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    white-space: nowrap;
}
.btn a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}
.btn-green{
    background-color: #6e8839;
}

.no-generado-container{
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: row;
    gap: .5em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6px;
}
.no-generado-container * {
    text-align: center;
    white-space: nowrap;
    flex: 1;
    color: aliceblue;
}



.planilla-container, form{
    margin-top: 1.2em;
    width: 100%;
    max-width: 720px;
    display: flex;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.tabla-carga{
    flex:1;
    border-radius: .7em;
    overflow: hidden;
}


.tabla-carga thead th{
    font-size: 1.2em;
    background-color: rgb(50, 95, 95);
}

.tabla-carga tbody{
    background-color: aliceblue;
}


.tabla-carga tbody td,.tabla-carga tbody th {
    padding: 0.4rem;
    border-left: 2px solid lightgrey;
}

.tabla-carga tbody td select{
    font-size: 1.1em;
    outline: none;
    border: none;
    background-color: transparent;
}


input{
    border: none;
    outline: none;
    background: transparent;
}

input[type="text"], input[type="number"]{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tabla-carga thead{
    position: sticky;
    top: 0;
}

.tabla-sobrecarga tr td{
    width: auto;
    position: relative;
    white-space: normal;
}


